*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(
        135deg,
        #00c6ff,
        #0072ff
    );
}

.container{
    width:430px;
    background:rgba(255,255,255,0.95);
    padding:35px;
    border-radius:20px;
    box-shadow:0 15px 40px rgba(0,0,0,0.2);
    text-align:center;
}

.weather-icon{
    font-size:65px;
    margin-bottom:10px;
}

h1{
    color:#222;
    margin-bottom:10px;
}

.subtitle{
    color:#666;
    margin-bottom:25px;
}

input{
    width:100%;
    padding:14px;
    margin-bottom:15px;
    border:none;
    border-radius:10px;
    background:#f1f5f9;
    font-size:16px;
    transition:0.3s;
}

input:focus{
    outline:none;
    border:2px solid #0072ff;
}

button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    background:#0072ff;
    color:white;
    font-size:17px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#0056d6;
    transform:translateY(-2px);
}

.result{
    margin-top:20px;
    padding:15px;
    background:#e3f2fd;
    border-radius:12px;
}

.result h2{
    color:#1565c0;
}

.footer{
    margin-top:20px;
    color:#888;
    font-size:14px;
}